body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main > p{
    position: absolute;
    top: 1%;
    left: 8%;
}

#slider{
    position: absolute;
    top: 5%;
    left: 7%;

}


#canvas{
    border: 3px solid #ffffff;
    width: 800px;
    height: 700px;
}