html, body {margin: 0; height: 100%; overflow: hidden; background-color: rgb(77, 77, 77);}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    position: absolute;
    left: 8rem;
    top: 8rem;
}

canvas{
    border: 1px solid #9C9898;
}